* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #644791;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 1.7em;
}

header a{
    text-decoration: none;
}

header h1, header a {
    color: #c2bacf;
}

header h1, header nav {
    margin: 1em;
}

nav ul {
    display: flex;
    gap: 2em;
    padding: 1em 1em 0 0;
}

nav li {
    font-size: 1.1em;
    text-align: center;
}

nav a:hover {
    color: #d7c5f3;
    transition: ease-in 0.2s;
}

nav span {
    text-decoration: underline;
}

main {
    background-color: #c2bacf;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 220%;
}

#section-introduccion {
    display: flex;
    justify-content: space-between;
    margin: 3em 1em 0 1em;
    padding: 2em;
}

#text-introduccion {
    color: #4b356d;
    width: 100%;
    margin: 0 1em 0 0em;
    padding: 3em 3em 0 2em;
}

#text-introduccion p {
    text-align: justify;
}

#text-introduccion h2 {
    font-size: 2.5em;
    padding-bottom: 1em;
}

#img-introduccion img{
    width: 90%;
}

#section-cita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c2bacf;
    background-color: #644791;
}

blockquote {
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
    padding: 1em 2em 1em 1em;
    width: 90%;
}

#section-cita img {
    width: 80%;
}

#section-biografia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    justify-content: space-between;
    margin: 0 1em 0 1em;
    padding: 2em;
}

#section-biografia p {
    padding: 3em 3em 0 2em;
    text-align: justify;
}

footer {
    color: #383838;
    background-color: rgb(219, 219, 219);
}

